<!DOCTYPE html>
<html>
<head lang="ja">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<!-- socketIo -->
	<script src="../socket.io/socket.io.js" type="text/javascript"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script type="text/javascript" src="../js/vj-controller.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/vj-controller.css">
	<title>スマフォ用お絵かきアプリ</title>
</head>
<body>
 <div class="main">
	<div class="toolbar">
		<ul>
			<li id="black"></li>
			<li id="blue"></li>
			<li id="red"></li>
			<li id="green"></li>
			<li class="small">
				<p class="circle circle_small"></p>
				<div id="small"></div>
			</li>
			<li class="middle">
				<p class="circle circle_middle"></p>
				<div id="middle"></div>
			</li>
			<li class="large">
				<p class="circle circle_large"></p>
				<div id="large"></div>
			</li>

		</ul>
	</div>
	<div class="canvas">
		<canvas id="myCanvas"></canvas>
	</div>
	<input id="delete_button" type="button" value="delete">
	<div class="canvas">
		<canvas id="submitCanvas"></canvas>
	</div>
	
	<!-- <input id="toImage_AppearBack" type="button" value="奥から出現" class="functionButton"> -->
	<!-- <input id="toImage_DropFromUp" type="button" value="上から出現" class="functionButton"> -->
</div>
<div id="imageContents"></div>
</body>
</html>